<div class="nav-container">
<img src="assets/img/icon.png" alt="logo" height="40" width="40" id="logo">
<nav class="navbar">
  <ul>
    <li class="order"><a href="#">Home</a></li>
    <li class="order"><a href="#">Tour</a></li>
    <li class="order"><a href="#">Contact</a></li>
    <li class="order"><a href="#">About</a></li>
    <li class="order"><a href="#">Privacy</a></li>
  </ul>
</nav>
</div>
<div class="main">
    <app-data></app-data>
  <img src="assets/img/background.jpg" alt="mobile-image" width="60%" height="60%">
  
</div>
